<!--首页，需要渲染的为幻灯片部分，幻灯片的链接为公益课或活动-->
{% extends "home_base.html" %}
{% block mainContent%}
  <!-- 首页幻灯片 -->
  ================================================== -->
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img src="../static/images/slide1.jpg" alt="First slide">
        <div class="container">
          <div class="carousel-caption">
            <h1>Example headline.</h1>
            <p>Note: If you're viewing this page via a <code>file://</code> URL, the "next" and "previous" Glyphicon buttons on the left and right might not load/display properly due to web browser security rules.</p>
            <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p>
          </div>
        </div>
      </div>
      <div class="item">
        <img src="../static/images/slide1.jpg" alt="Second slide">
        <div class="container">
          <div class="carousel-caption">
            <h1>Another example headline.</h1>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
          </div>
        </div>
      </div>
      <div class="item">
        <img src="../static/images/slide1.jpg" alt="Third slide">
        <div class="container">
          <div class="carousel-caption">
            <h1>One more for good measure.</h1>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
          </div>
        </div>
      </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <!-- /.幻灯片结束 -->
  <!--首页主体，这里没有输出-->
  <div class="container marketing">
    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
        <img class="img-circle" src="../static/images/1.png" alt="Generic placeholder image" style="width: 140px; height: 140px;">
        <h2>快速有效</h2>
        <p><a class="btn btn-default" href="" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="../static/images/2.png" alt="Generic placeholder image" style="width: 140px; height: 140px;">
          <h2>知识变现</h2>
          <p><a class="btn btn-default" href="" role="button">View details &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img class="img-circle" src="../static/images/3.png" alt="Generic placeholder image" style="width: 140px; height: 140px;">
            <h2>有效沟通</h2>
            <p><a class="btn btn-default" href="" role="button">View details &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
            </div><!-- /.row -->
            </div><!-- /.container -->
            <!-- START THE FEATURETTES -->
            <section class="gray-flow">
              <div class="container">
                <div class="row">
                  <div class="col-lg-6">
                  <img src="../static/images/text1.png" style="border-right:1px white solid;margin-top:13%;"></div>
                  <div class="col-lg-6">
                    <img src="../static/images/02-computer2.png">
                  </div>
                </div>
              </div>
            </section>
            <section class="white-flow">
              <div class="container">
                <div class="row">
                  <div class="col-lg-6">
                    <img src="../static/images/desk.jpg">
                  </div>
                  <div class="col-lg-6">
                  <img src="../static/images/text2.png"style="border-left:1px #f2f2f2 solid;margin-top:13%;"></div>
                </div>
              </div>
            </div>
          </section>
          <section class="gray-flow">
            <div class="container">
              <div class="row">
                <div class="col-lg-6"><img src="../static/images/text3.png" style="border-right:1px white solid;margin-top:11%;"></div>
                <div class="col-lg-6">
                  <div style="position:relative;">
                    <img src="../static/images/03-calendar.png" style="position:absolute;top:0;">
                    <img src="../static/images/01-star.png" style="position:absolute;top:0;right:0;">
                  </div>
                </div>
              </div>
            </div>
          </section>
          <section class="white-flow">
            <div class="container">
              <div class="row">
                <div class="col-lg-6">
                  <img src="../static/images/skills-who.jpg">
                </div>
                <div class="col-lg-6"><img src="../static/images/text4.png" style="border-left:1px #f2f2f2 solid;margin-top:13%;"></div>
              </div>
            </div>
          </section>
          <!--首页主体结束-->
        {% endblock %}
