<!--全局父模板，主要包括Nav，Footer，自定义CSS block，自定义JS block-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/static/favicon.ico">
    <title>首页</title>
    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/carousel.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
    {% block customCSS %}{% endblock %}
    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script>-->
    <script src="/static/js/ie-emulation-modes-warning.js"></script>
    {% block customJS %}{% endblock %}
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="http://cdn.bootcss.com/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script> -->
  </head>
  <!-- NAVBAR
  ================================================== -->
  <body>
    <!--顶部导航-->
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <nav class="" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/"><img src="/static/images/logo.png" alt="logo"></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="{% if course_mode == -1 %}active{% endif %}"><a href="/">首页</a></li>
                <li class="{% if course_mode == 0 %}active{% endif %}"><a href="/course/list/yue">约课</a></li>
                <li class="{% if course_mode == 1 %}active{% endif %}"><a href="/course/list/qiu">求课</a></li>
                <li class="{% if course_mode == 2 %}active{% endif %}"><a href="/course/public">公益课</a></li>
                <li class="{% if course_mode == 3 %}active{% endif %}"><a href="/misc/activity">活动</a></li>
              </ul>
              <!--搜索-->
              <form class="navbar-form navbar-left" role="search" method="GET" action="/search">
                <div class="input-group" style="max-width:200px;">
                  <input type="text" class="form-control" placeholder="Search for..." name="keyword">
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">Go!</button>
                  </span>
                </div>
              </form>
              <!--搜索结束-->
              <!--登录选项-->
              <div class="navbar-form navbar-right">
                <!--登录后显示个人头像及ID-->
                {% if current_user.is_authenticated() %}
                  <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav" style="margin:-8px -10px;">
                      <li class="dropdown active">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="{{ current_user.info.avatar }}" class="img-circle" style="height:40px;width:40px;margin:-10px 6px -10px -6px;">
                        Hi, {{ current_user.username }}<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu" style="min-width:145px;">
                        <li><a href="/course/home/yue"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;Home</a></li>
                          <li><a href="/account/logout"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;Sign Out</a></li>
                        </ul>
                        </li>
                      </ul>
                    </div>
                  {% else %}
                    <!--未登录时显示注册和登录按钮-->
                    <a href="/account/login"><button type="button" class="btn btn-primary">登录</button></a>
                    <a href="/account/signup"><button type="button" class="btn btn-success">注册</button></a>
                  {% endif %}
                  <!--登录结束-->
                </div>
              </div>
            </nav>
          </div>
        </div>
        <!--导航结束-->
        {% block mainContent %}
        {% endblock %}
        <!-- FOOTER -->
        <footer>
          <div class="container">
            <div class="col-md-3 footer-itemborder">
              <h4>互联网+创业邀请赛</h4>
              <ul class="list-unstyled" style="text-align:center;">
                <li><a href="">加入我们</a></li>
                <li><a href="">关于我们</a></li>
                <li><a href="">意见反馈</a></li>
              </ul>
            </div>
            <div class="col-md-3 footer-itemborder">
              <h4>联系我们</h4>
              <address  style="text-align:center;">
                <a href="mailto:#">first.last@example.com</a>
              </address>
            </div>
            <div class="col-md-3 footer-itemborder">
              <h4>合作伙伴</h4>
              <ul class="list-unstyled"  style="text-align:center;">
                <li><a href=""><img src="/static/images/leancloud.png"></a></li><br>
              </ul>
            </div>
            <div class="col-md-3">
              <div>
                <p style="text-align:center;color:grey;">&copy; 2015 ikr&middot;Jilin University&middot;China.&nbsp;1.0&nbsp;&nbsp; <a href="/admin" class="pull-right">Dashboard</a>
              </div>
            </div>
          </div>
        </footer>
        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="/static/js/jquery-2.1.0.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
        <script src="/static/js/docs.min.js"></script>
        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <script src="/static/js/ie10-viewport-bug-workaround.js"></script>
      </body>
    </html>
