{% extends "home_profilebase.html" %}
{% block subContent %}
  <!--个人主页编辑资料-->
  <div class="container">
    <div class="margintoppagefixed">
      <div class="row">
        <div class="col-sm-8 blog-main">
          <h4>个人资料</h4>
          <hr/>
          <div class="blog-post">
            <div class="row">
              <div class="col-lg-12">
                <!--表单-->
                <form role="form" action="/account/profile" method="POST" enctype="multipart/form-data">
                  <div class="form-group">
                    <label for="exampleInputName">Real Name</label>
                    <input type="input" class="form-control" id="exampleInputName" placeholder="real name"  name="realname" value="{% if profile %}{{ profile.realName }}{% endif %}">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputCollege">School</label>
                    <input type="input" class="form-control" id="exampleInputCollege" placeholder="College" name="school" value="{% if profile %}{{ profile.school }}{% endif %}">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputGrade">Grade</label>
                    <input type="input" class="form-control" id="exampleInputGrade" placeholder="Grade" name="grade" value="{% if profile %}{{ profile.grade }}{% endif %}">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputmajorin">Major</label>
                    <input class="form-control"  placeholder="Your Major" name="major" value="{% if profile %}{{ profile.major }}{% endif %}">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputbio">About</label>
                    <textarea class="form-control" rows="3"  placeholder="About you" name="about">{% if profile %}{{ profile.about }}{% endif %}</textarea>
                  </div>
                  <div class="form-group">
                    <label for="exampleInputFile">Your Avatar</label>
                    {% if profile %}{% if profile.avatar %}
                      <img src="{{profile.avatar}}"/>
                    {% endif %}{% endif %}
                    <input type="file" name="file" id="exampleInputFile">
                  </div>
                  {{ form.csrf_token }}
                  {% with messages = get_flashed_messages() %}
                  {% if messages %}
                    <ul class=flashes>
                      {% for message in messages %}
                        <li>{{ message }}</li>
                      {% endfor %}
                    </ul>
                  {% endif %}
                {% endwith %}
                <button type="submit" class="btn btn-default">Submit</button>
              </form>
            </div>
            </div><!-- /.row -->
            </div><!-- /.blog-post -->
            </div><!-- /.blog-main -->
            <!--边栏先空着-->
            <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
              <div class="sidebar-module sidebar-module-inset">
              </div>
              </div><!-- /.blog-sidebar -->
              </div><!-- /.row -->
            </div>
          </div>
        {% endblock %}
