<!--登录页面-->
{% extends "sign_base.html" %}
{% block signForm %}
  <div class="container" style="position:absolute;left:9%;">
    <div class="ab">
      <div class="signcontainer">

        <form class="form-signin" role="form" action="/account/login" method="POST">
          <a href="/"><img src="../static/images/logo.png"></a>
          <hr>
          <input type="input" class="form-control" placeholder="Username" name="username" required autofocus>
          <input type="password" class="form-control" placeholder="Password" name="password" required>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="remember-me"> Remember me
            </label>
          </div>
          {{ form.csrf_token }}
          {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul class=flashes>
              {% for message in messages %}
                <li>{{ message }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
        <button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
        <a href="/account/signup"><button class="btn btn-lg btn-success btn-block" type="button" style="margin-top:5px;">注册</button></a>
      </form>
    </div>
  </div>
  </div> <!-- /container -->
{% endblock %}
