<!DOCTYPE html>
<html lang="en" {% block ngapp %}{% end %}>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../static/favicon.ico">

  <title>个人</title>

  <!-- Bootstrap core CSS -->
  <link href="../static/css/bootstrap.min.css" rel="stylesheet">
  <!--{% block customCssLink %}{% end %}-->
  <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
  <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
  <script src="../static/js/ie-emulation-modes-warning.js"></script>
  <!--{% block customJSLink %}{% end %}-->
  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="http://cdn.bootcss.com/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
  <!-- Custom styles for this template -->
  <link href="../static/css/carousel.css" rel="stylesheet">
  <link href="../static/css/style.css" rel="stylesheet">
</head>
<!-- NAVBAR
================================================== -->
<body>
  <div class="navbar navbar-default navbar-fixed-top">
    <div class="container">

      <nav class="" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><img src="../static/images/logo.png" alt="logo"></a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="/">首页</a></li>
              <li><a href="/p">约课</a></li>
              <li><a href="/articles">求课</a></li>
              <li><a href="/members">公益课</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">更多 <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="/about">About</a></li>
                  <li><a href="/contact">Contact</a></li>
                </ul>
              </li>
            </ul>
            <form class="navbar-form navbar-left" role="search" method="GET" action="/search">
              <div class="input-group" style="max-width:200px;">
            <input type="text" class="form-control" placeholder="Search for..." name="keyword">
            <span class="input-group-btn">
              <button class="btn btn-default" type="submit">Go!</button>
            </span>
          </div><!-- /input-group -->
      </form>
            <div class="navbar-form navbar-right">
              <!--{% if not handler.signeduser %}-->
              <a href="/signin"><button type="button" class="btn btn-primary">Sign In</button></a>
              <a href="/signup"><button type="button" class="btn btn-success">Sign Up</button></a>
              <!--{% else %}
              <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav" style="margin:-8px 0;">
              <li class="dropdown active">

                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="{{ handler.signavatar }}" class="img-circle" style="height:40px;width:40px;margin:-10px 6px -10px -6px;">{{ current_user }}<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu" style="min-width:145px;">
                  <li><a href="/members/m/{{ handler.signedid }}"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;Homepage</a></li>
                  <li><a href="/signout"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;Sign Out</a></li>
                </ul>
              </li>
            </ul>
          </div>
              {% end %}-->
            </div>
          </div>

        </div>
      </nav>

    </div>
  </div>


  <div class="container">
  <div class="pageavatar">
    <div class="container">
    <img class="home-page-img featurette-image img-responsive img-circle" src="../static/images/avatar.gif" alt="Generic placeholder image" style="margin:0 auto;border:4px solid white;">
    <h2 style="color:white;">Aragaki Yui</h2>
    <h5 style="color:white;">一句话介绍自己吧，让别人更了解你</h5>

    <a href="#"><img class="home-page-icon" src="../static/images/profile-revese.png"></a><a href="#"><img class="home-page-icon" src="../static/images/preferencesicon-edit.png"></a><a href="#"><img class="home-page-icon" src="../static/images/preferencesicon-reverse.png"></a>
    <div class="home-page-nav-block">
      <!-- Button trigger modal -->


      <!-- Modal -->
      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <div class="modal-body">
              ...
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div>
      <a href="#" class="home-page-nav" style="border-right:1px white solid;"><span>我要约课</span></a><a href="#" class="home-page-nav"><span class="home-page-nav-active">我要求课</span></a>
    </div>
  </div>
  </div>
  </div>
  <img src="../static/images/page-background2.jpg" style="position:relative;width:100%;">


  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container">
   <div class="margintoppagefixed">

   <div class="row">

     <div class="col-sm-8 blog-main">
       <h4>最近动态</h4>
       <hr/>
       <div class="blog-post">
         <div class="row">
         <div class="col-sm-3">
           <div class="home-yueke-center">
             <img src="../static/images/teacher.jpg" class="img-circle home-yueke-avatar">
             <h4>Hans Zimmer</h4>
             <button type="button" class="btn btn-primary">应课</button>
           </div>
         </div>
       <div class="col-sm-9">
         <h4><a href="#">Hans Zimmer's Music Class</a></h4>
         <p>2015年5月1日 20:00</p>
         <p>我的丰功伟绩，值得浇铸于青铜器上，铭刻于大理石上，镌于木板上，永世长存，等我的这些事迹在世上流传之时，幸福之年代和幸福之世纪亦即到来<a href="/projects/p/{{ page.pid }}">&nbsp;&nbsp;Show all...</a></p>
         <p><span class="glyphicon glyphicon-map-marker" aria-hidden="true"> 经信教学楼</span></p>
         <div class="home-qiu-teacher">
           <ul class="list-unstyled">
             <li class="home-qiu-teacher"><img src="../static/images/comment_avatar1.gif" class="img-circle"></li>
             <li class="home-qiu-teacher"><img src="../static/images/comment_avatar2.gif" class="img-circle"></li>
             <li class="home-qiu-teacher"><img src="../static/images/comment_avatar3.gif" class="img-circle"></li>
             <li class="home-qiu-teacher"><img src="../static/images/comment_avatar4.gif" class="img-circle"></li>
             <li class="home-qiu-teacher"><img src="../static/images/comment_avatar5.gif" class="img-circle"></li>
           </ul>
         </div>
           <p style="float:left;padding-top:15px;"><a href="#">等8人存在意向 >></a></p>
       </div>
     </div>
       </div><!-- /.blog-post -->
       <hr>
       <div class="blog-post">
         <div class="row">
         <div class="col-sm-3">
           <div class="home-yueke-center">
             <img src="../static/images/teacher.jpg" class="img-circle home-yueke-avatar">
             <h4>Hans Zimmer</h4>
             <button type="button" class="btn btn-primary">应课</button>
           </div>
         </div>
       <div class="col-sm-9">
         <h4><a href="#">Hans Zimmer's Music Class</a></h4>
         <p>2015年5月1日 20:00</p>
         <p>我的丰功伟绩，值得浇铸于青铜器上，铭刻于大理石上，镌于木板上，永世长存，等我的这些事迹在世上流传之时，幸福之年代和幸福之世纪亦即到来<a href="/projects/p/{{ page.pid }}">&nbsp;&nbsp;Show all...</a></p>
         <p><span class="glyphicon glyphicon-map-marker" aria-hidden="true"> 经信教学楼</span></p>
       </div>
     </div>
       </div><!-- /.blog-post -->
       <hr><div class="blog-post">
         <div class="row">
         <div class="col-sm-3">
           <div class="home-yueke-center">
             <img src="../static/images/teacher.jpg" class="img-circle home-yueke-avatar">
             <h4>Hans Zimmer</h4>
             <button type="button" class="btn btn-primary">应课</button>
           </div>
         </div>
       <div class="col-sm-9">
         <h4><a href="#">Hans Zimmer's Music Class</a></h4>
         <p>2015年5月1日 20:00</p>
         <p>我的丰功伟绩，值得浇铸于青铜器上，铭刻于大理石上，镌于木板上，永世长存，等我的这些事迹在世上流传之时，幸福之年代和幸福之世纪亦即到来<a href="/projects/p/{{ page.pid }}">&nbsp;&nbsp;Show all...</a></p>
         <p><span class="glyphicon glyphicon-map-marker" aria-hidden="true"> 经信教学楼</span></p>
       </div>
     </div>
       </div><!-- /.blog-post -->
       <hr><div class="blog-post">
         <div class="row">
         <div class="col-sm-3">
           <div class="home-yueke-center">
             <img src="../static/images/teacher.jpg" class="img-circle home-yueke-avatar">
             <h4>Hans Zimmer</h4>
             <button type="button" class="btn btn-primary">应课</button>
           </div>
         </div>
       <div class="col-sm-9">
         <h4><a href="#">Hans Zimmer's Music Class</a></h4>
         <p>2015年5月1日 20:00</p>
         <p>我的丰功伟绩，值得浇铸于青铜器上，铭刻于大理石上，镌于木板上，永世长存，等我的这些事迹在世上流传之时，幸福之年代和幸福之世纪亦即到来<a href="/projects/p/{{ page.pid }}">&nbsp;&nbsp;Show all...</a></p>
         <p><span class="glyphicon glyphicon-map-marker" aria-hidden="true"> 经信教学楼</span></p>
         <div class="home-qiu-teacher">
           <ul class="list-unstyled">
             <li class="home-qiu-teacher"><img src="../static/images/comment_avatar1.gif" class="img-circle"></li>
             <li class="home-qiu-teacher"><img src="../static/images/comment_avatar2.gif" class="img-circle"></li>
             <li class="home-qiu-teacher"><img src="../static/images/comment_avatar3.gif" class="img-circle"></li>
             <li class="home-qiu-teacher"><img src="../static/images/comment_avatar4.gif" class="img-circle"></li>
             <li class="home-qiu-teacher"><img src="../static/images/comment_avatar5.gif" class="img-circle"></li>
           </ul>
         </div>
           <p style="float:left;padding-top:15px;"><a href="#">等8人存在意向 >></a></p>
       </div>
     </div>
       </div><!-- /.blog-post -->
       <hr><div class="blog-post">
         <div class="row">
         <div class="col-sm-3">
           <div class="home-yueke-center">
             <img src="../static/images/teacher.jpg" class="img-circle home-yueke-avatar">
             <h4>Hans Zimmer</h4>
             <button type="button" class="btn btn-primary">应课</button>
           </div>
         </div>
       <div class="col-sm-9">
         <h4><a href="#">Hans Zimmer's Music Class</a></h4>
         <p>2015年5月1日 20:00</p>
         <p>我的丰功伟绩，值得浇铸于青铜器上，铭刻于大理石上，镌于木板上，永世长存，等我的这些事迹在世上流传之时，幸福之年代和幸福之世纪亦即到来<a href="/projects/p/{{ page.pid }}">&nbsp;&nbsp;Show all...</a></p>
         <p><span class="glyphicon glyphicon-map-marker" aria-hidden="true"> 经信教学楼</span></p>
       </div>
     </div>
       </div><!-- /.blog-post -->
       <hr>

       <button type="button" class="btn btn-default btn-lg btn-block home-more-button">更多..</button>
     </div><!-- /.blog-main -->

     <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
       <div class="sidebar-module sidebar-module-inset">
          <h4>个人资料</h4>
      
       <table class="table">
         <tr><td>年级：研一</td></tr>
         <tr><td>擅长：演戏</td></tr>
  </table>
      
       </div>
       
     </div><!-- /.blog-sidebar -->

   </div><!-- /.row -->
  </div>
  </div>

    <!-- START THE FEATURETTES -->



    <!-- /END THE FEATURETTES -->


    <!-- FOOTER -->
    <footer>
      <div class="container">
        <div class="col-md-3 footer-itemborder">
          <h4>互联网+创业邀请赛</h4>
          <ul class="list-unstyled" style="text-align:center;">
            <li><a href="">加入我们</a></li>
            <li><a href="">关于我们</a></li>
            <li><a href="">意见反馈</a></li>
          </ul>
        </div>
        <div class="col-md-3 footer-itemborder">
          <h4>联系我们</h4>
          <address  style="text-align:center;">
  <a href="mailto:#">first.last@example.com</a>
</address>
        </div>
        <div class="col-md-3 footer-itemborder">
          <h4>合作伙伴</h4>
          <ul class="list-unstyled"  style="text-align:center;">
            <li><a href=""><img src="../static/images/aliyun.png"></a></li><br>
            <li><a href=""><img src="../static/images/tencent.png"></a></li><br>
            <li><a href=""><img src="../static/images/qiniu.png"></a></li><br>
          </ul>
        </div>
        <div class="col-md-3">


          <div>
          <p style="text-align:center;color:grey;">&copy; 2015 ikr&middot;Jilin University&middot;China.&nbsp;1.0&nbsp;&nbsp; <a href="/admin" class="pull-right">Dashboard</a>
          </div>
        </div>
      </div>
    </footer>





  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="../static/js/jquery-2.1.0.js"></script>
  <script src="../static/js/bootstrap.min.js"></script>
  <script src="../static/js/docs.min.js"></script>
  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <script src="../static/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>
